<?xml version="1.0" encoding="UTF-8"?>
<beans 
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:jee="http://www.springframework.org/schema/jee" 
		xmlns:p="http://www.springframework.org/schema/p"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
							http://www.springframework.org/schema/tx
							http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
							http://www.springframework.org/schema/jee 
							http://www.springframework.org/schema/jee/spring-jee-2.0.xsd" >

	<import resource="database.xml" />
	<import resource="${profileName}-related.xml" />
	<!-- 
	<import resource="#{ configurator.isReceiptServiceOn ? 'configs/rs-config.xml' : 'configs/empty-config.xml' }" />
	<import resource="#{ configurator.isFailedMessagesOn ? 'configs/fm-config.xml' : 'configs/empty-config.xml' }" />
	-->
	<import resource="configs/rs-config.xml" />
	<import resource="configs/fm-config.xml" />

	<!-- jms jndi -->
	<bean id="jmsFactoryToErrorQueue" class="org.springframework.jndi.JndiObjectFactoryBean" >
		<property name="jndiName" value="${bindingsPrefix}dsMqConfig/mq-connection-send-error" />
	</bean>
	
	<bean id="jmsFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="${bindingsPrefix}dsMqConfig/mq-connection-recv" />
	</bean>
	
	<!-- jms -->	

	<bean id="jmsConnectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
		<property name="targetConnectionFactory" ref="jmsFactory" />
	</bean>
	
	<!-- JMS Templates -->
	
	<bean id="jmsTemplateFullDataReports" class="org.springframework.jms.core.JmsTemplate" >
		<property name="sessionTransacted" value="true" />
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />	
	</bean>
	
	<!-- tx -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager" />
	
	<!-- Settings -->
	
	<bean id="IsReceiptServiceOnBean" class="java.lang.Boolean" factory-method="parseBoolean" >    
		<constructor-arg>
		    <bean class="java.lang.String"
		    		factory-bean="${jndiFactoryBean}" factory-method="getStringPropertyValue" >
		    	<constructor-arg>
		    		<bean class="org.springframework.jndi.JndiObjectFactoryBean" >
		    			<property name="jndiName" value="${bindingsPrefix}dsConfig/IsReceiptServiceOn" />
		    		</bean>
		    	</constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="IsFailedMessagesOnBean" class="java.lang.Boolean" factory-method="parseBoolean" >    
		<constructor-arg>
		    <bean class="java.lang.String"
		    		factory-bean="${jndiFactoryBean}" factory-method="getStringPropertyValue" >
		    	<constructor-arg>
		    		<bean class="org.springframework.jndi.JndiObjectFactoryBean" >
		    			<property name="jndiName" value="${bindingsPrefix}dsConfig/IsFailedMessagesOn" />
		    		</bean>
		    	</constructor-arg>
			</bean>
		</constructor-arg>
	</bean>
    
    <bean id="FullDataReportsQueueManagerBean" class="java.lang.String"
          factory-bean="${jndiFactoryBean}" factory-method="getStringPropertyValue">
        <constructor-arg>
            <bean class="org.springframework.jndi.JndiObjectFactoryBean">
                <property name="jndiName" value="${bindingsPrefix}dsConfig/FullDataReportsQueueManager"/>
            </bean>
        </constructor-arg>
    </bean>
    
    <bean id="FullDataReportsQueueBean" class="java.lang.String"
          factory-bean="${jndiFactoryBean}" factory-method="getStringPropertyValue">
        <constructor-arg>
            <bean class="org.springframework.jndi.JndiObjectFactoryBean">
                <property name="jndiName" value="${bindingsPrefix}dsConfig/FullDataReportsQueue"/>
            </bean>
        </constructor-arg>
    </bean>
	
	<bean id="configurator" class="ru.acs.fts.eps2.failedMessages.supplementary.Configurator" >
		<property name="isReceiptServiceOn" ref="IsReceiptServiceOnBean" />
		<property name="isFailedMessagesOn" ref="IsFailedMessagesOnBean" />
		<property name="fullDataReportsQueue" ref="FullDataReportsQueueBean" />
		<property name="fullDataReportsQueueManager" ref="FullDataReportsQueueManagerBean" />
	</bean>
	
</beans>
