<?xml version="1.0" encoding="UTF-8"?>
<beans 
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd" >

	<import resource="sections/wls-related.xml" />

    <!--Текущая версия АПС ЭПС-->

    <bean id="springJNDIPropertyFactory" class="ru.acs.fts.eps2.util.jndi.SpringJNDIPropertyFactory"/>

    <!--Конфигурация АПС ЭПС данной версии-->
    <bean id="configurator" class="ru.acs.fts.aly.router.processing.AlyConfigurator">
    	<property name="softVersion" value="1.0.0" />
    	<property name="alyServerName" value="ALY-SERVER" />    	
    	<property name="transportServerAddress" ref="transportServerAddressBean" />
    </bean>

	<!-- Параметры -->

	<bean id="restEventSrvUrl" class="java.lang.String"
			factory-bean="${jndiFactoryBean}" factory-method="getStringPropertyValue" >
		<constructor-arg>
			<bean class="org.springframework.jndi.JndiObjectFactoryBean" >
				<property name="jndiName" value="${bindingsPrefix}alyConfig/RestEventSrvUrl" />
			</bean>
		</constructor-arg>
	</bean>
	
	<bean id="restCryptoSrvUrl" class="java.lang.String"
    		factory-bean="${jndiFactoryBean}" factory-method="getStringPropertyValue" >
    	<constructor-arg>
    		<bean class="org.springframework.jndi.JndiObjectFactoryBean" >
    			<property name="jndiName" value="${bindingsPrefix}alyConfig/RestCryptoSrvUrl" />
    		</bean>
    	</constructor-arg>
    </bean>
	
	<bean id="transportServerAddressBean" class="java.lang.String"
          factory-bean="${jndiFactoryBean}" factory-method="getStringPropertyValue">
        <constructor-arg>
            <bean class="org.springframework.jndi.JndiObjectFactoryBean">
                <property name="jndiName" value="${bindingsPrefix}alyConfig/TransportServerAddress"/>
            </bean>
        </constructor-arg>
    </bean>

</beans>
